---
layout: default
---
<div class="post">
  <header class="post-header">
    <h1 class="artcle-title black">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%Y-%m-%d %H:%m" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>
  <article class="post-content line">
    {{ content }}
  </article>
<div class="paginateBox">
{% if page.previous.url %}
<a class="pageBtn previous" href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">上一篇</a>
{% endif %}
{% if page.next.url %}
<a class="pageBtn next" href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">下一篇</a>
{% endif %}
</div>
<div class="awardBtn"><span>赏</span></div>
<div class="awardContent">
	<p>「真诚赞赏，手留余香」</p>
	<div class="WpayBox awardBox"><span>微信</span><p><img src="/images/wPay.jpg" alt=""></p></div>
	<div class="AlipayBox awardBox"><span>支付宝</span><p><img src="/images/aliPay.jpg" alt=""></p></div>
</div>
</div>
